#large-container {
    text-align: center;
    background-color: brown;
    color: whitesmoke;
}

#small-container {
    background-color: thistle;
    color: midnightblue;
    padding-top: 10px;
    border-top:10px;
}

#pond {
    justify-content: center;
    align-items: center;
}

#form-container {
    padding-top: 2rem;
    background-color:blue;
}


