#large-container {
    text-align: center;
    background-color: brown;
    color: whitesmoke;
}

#small-container {
    background-color: thistle;
    color: midnightblue;
    padding-top: 10px;
    border-top:10px;
}
.callout {
    margin: 1rem 0 1rem 0;
}

#pond {
    justify-content: center;
    align-items: center;
}